<nav class="navbar">
    <div class="logo">
        TAKE YOUR TICKET
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/movies">Movies</a>

        {% if session.get("user_id") %}
            <a href="/bookings">My Bookings</a>

            {% if session.get("user_role") == "admin" %}
                <a href="/admin">Admin</a>
            {% endif %}

            <a href="/logout">Logout</a>

        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
        {% endif %}
    </div>
</nav>
